<!DOCTYPE html>
<html lang="en">
<head>
    <title>I am learning Express</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href=""> -->
    <title>Document</title>
</head>
<body>
    <header class="Header" wi>
        <section id="websitetitle">
            <div>
                <br>
                <h1>My first Express Website</h1>
                <span>
                    <b>
                        BOLD Elements
                    </b>
                </span>
                <a href="/">Containers</a>
                <hr>
            </div>
            <div>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/users">Users</a>
                    </li>
                    <li>
                        <a href="/card">Card</a>
                    </li>
                    <li>
                        <a href="/store">Store</a>
                    </li>
                    <li>
                        <a href="/blog">Blog</a>
                    </li>
                    <li>
                        <a href="#Heading 2">Get Start</a>
                    </li>
                </ul>
            </nav>
        </section> 
    </header>


    <section id="getstarted">
        <span>
            <h2 id="Heading 2">Let's learn Express JS || <%= locals.text %></h2>
        </span>
    </section>

    
    <h3>H3 tag

        <ul>
            <li>
                a
            </li>
            <li>
                b
            </li>
        </ul>


        <ol>
            <li>
                c
            </li>
            <li>
                d
            </li>
        </ol>
    </h3>
    <h4>H4 tag

        <section>
            <h3>
                Form Elements
            </h3>
            <form action="" onsubmit="">
                <label for="">Text</label>
                <input type="text" value="" placeholder="Enter you name">
                <br>
                <label for="">Number</label>
                <input type="number" min="10" max=" 20" value="15">
                <br>
                <label for="">Date</label>
                <input type="date">
                <br>
                <label for="">Time</label>
                <input type="time">
                <br>
                <label for="">Email</label>
                <input type="email" autofocus="autofocus">
                <br>
                <label for="">File Upload</label>
                <input type="file" accept="pdf/*">
                <br>
                <label for="">Password</label>
                <input type="password">
                <br>
                <label for="">Check Box</label>
                <input type="checkbox" checked>
                <br>
                <label for="">Radio Button</label>
                <input type="radio" checked>
                <br>

            </form>
<hr>

            <label for=""> <b>Table</b></label>
            <table>

                    <tr>
                        <td>
                            Data Number 1
                        </td>
                        <td>
                            Data Number 2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Data Number 3
                        </td>
                        <td>
                            Data Number 4
                        </td>

                    </tr>


            </table>
<hr>
        </section>
    </h4>
    <h5>H5 tag
        <hr>
        <label for="">Audio</label>
        <audio src=""></audio>
        <hr>
        </h5>
    <h6>H6 tag</h6>

    <section>
        <h2>
            Image
        </h2>
        <hr>
        <br>
        <img src="./img/test.jpg" alt="Test Image">
    </section>

    <footer>
        Footer
    </footer>
</body>
</html>

