<figure class="card">
          <div class="card__emoji">🩸⚔️</div>

          <div class="card__title-box">
            <h2 class="card__title">Action</h2>
          </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail card__detail--mainTitleAction">Fast and Furious</h6>
              <h6 class="card__detail card__detail--rangeTitle">+12</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail">🕒 +2h</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">$6</h6>
            </div>
          </div>

          <a class="card__link" href="template-product.html">
            <span>Let's Watch<i class="emoji-right">👁️</i></span>
          </a>
        </figure>

        <figure class="card">
          <div class="card__emoji">⚰️🧟</div>
          <div class="card__title-box">
            <h2 class="card__title">Horror</h2>
          </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail card__detail--mainTitleHorror">BLOOD AND HONEY</h6>
              <h6 class="card__detail card__detail--rangeTitle">+21</h6>
            </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail">🕒 +2h</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">$7</h6>
            </div>
          </div>

          <a class="card__link" href="template-product.html">
            <span>Let's Watch<i class="emoji-right">👁️</i></span>
          </a>
        </figure>

        <figure class="card">
          <div class="card__emoji">💥🤠</div>
          <div class="card__title-box">
            <h2 class="card__title">Western</h2>
          </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail card__detail--mainTitleWestern">No Man's Land</h6>
              <h6 class="card__detail card__detail--rangeTitle">+15</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail">🕒 +1h</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">$2</h6>
            </div>
          </div>

          <a class="card__link" href="template-product.html">
            <span>Let's Watch<i class="emoji-right">👁️</i></span>
          </a>
        </figure>

        <figure class="card">
          <div class="card__emoji">🔞❤️‍🔥</div>
          <div class="card__title-box">
            <h2 class="card__title">Romance</h2>
          </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail card__detail--mainTitleRomance">Notebook</h6>
              <h6 class="card__detail card__detail--rangeTitle">+16</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail">🕒 +3h</h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">$5</h6>
            </div>
          </div>

          <a class="card__link" href="template-product.html">
            <span>Let's Watch<i class="emoji-right">👁️</i></span>
          </a>
        </figure>

        <figure class="card">
          <div class="card__emoji">🚧🕵️</div>
          <div class="card__title-box">
            <h2 class="card__title">Drama</h2>
          </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail card__detail--mainTitleDrama">The Courier</h6>
              <h6 class="card__detail card__detail--rangeTitle">+12</h6>
            </div>

          <div class="card__details">
            <div class="card__detail-box">
              <h6 class="card__detail">🕒 +2h </h6>
            </div>

            <div class="card__detail-box">
              <h6 class="card__detail card__detail--price">$3.5</h6>
            </div>
          </div>

          <a class="card__link" href="template-product.html">
            <span>Let's Watch<i class="emoji-right">👁️</i></span>
          </a>
        </figure>